*{
    font-family: Poppins;
}

body{
    height: auto;

       background: rgb(43,43,58);
        background: linear-gradient(190deg, rgba(43,43,58,1) 21%, rgba(37,69,88,1) 45%, rgba(36,88,109,1) 64%, rgba(34,134,159,1) 94%, rgba(33,149,175,1) 97%, rgba(33,149,175,1) 97%, rgba(20,172,200,1) 99%);
}

/* Container1 */
#container1{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
}

.parent{
    background-color: rgb(255, 255, 255);

    width: 300px;
    height: 300px;

    border-radius: 7px;

    transition: 0.5s;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}.parent:hover{
    transform: translateY(-7px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

.child{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}#images{
    width: 50%;
}
/* Container1 */

/* Container2 */
#container2{
    margin-top: -5px;

    height: auto;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#c2Parent1{
    background-color: #f4f5f6;
    width: 70%;
    height: auto;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: 2px;
    border-color: #d6d6d6;

    gap: 70px;

    padding: 60px;

    box-shadow: 0 8px 16px rgba(34, 34, 34, 0.6);

}#division{
    width: 100%;
    display: flex;
    gap: 10px;
}

.form{
    width: 100%;
    position: relative;
}
.formInput{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    outline: none;
    padding: 15px;
    border-radius: 5px;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    background-color: transparent;
    border-width: 2.3px;
}.formInput:hover{
    border-color: #8d9b13;
}.formInput:focus{
    border-color: #bdcf18;
}

.formLabel{
    position: absolute;
    left: 1rem;
    top: 1.04rem;
    padding: 0 0.1rem;
    cursor: text;
    transition: top 200ms ease-in,
    left 200ms ease-in;
}

.formInput:focus ~ .formLabel,
.formInput:not(:placeholder-shown):not(:focus):valid ~ .formLabel{
    top: -0.5rem;
    font-size: 0.8rem;
    background-color: #f4f5f6;
    padding: 0 6px;
}

.form a{
    color: #08a0be;
    font-weight: 400;
}.form a:hover{
    color: #14bcdd;
    font-weight: 400;
}

#submit{
    color: white;
    width: 100%;
    margin-top: 10px;
    font-size: 22px;
    background-color: #becf1f;
    border-style: none;
    border-radius: 3px;
}#submit:hover{
    background-color: #cbdf19;

}
/* Container2 */