*{
    font-family: Poppins;
    letter-spacing: 1px;
}

.container-fluid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fR;
    grid-template-areas: "parent1 parent2";
}

#parent1{
    grid-area: parent1;
    padding: 150px;
}

#parent2{
    grid-area: parent2;
    background-image: url(/Images/brgy.png);
    background-position: center;
    background-size: cover;

    padding: 100px;
}

#child1{
    height: 100%;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}.form-floating input{
    border-width: 3px;
    border-style: solid;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}#login{
    width: 100%;
    background-color: #e9ff27d7;
    color: #254558 ;
    border-style: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}#login:hover{
    background-color: #dbeb4a;
}


#child2{
    height: 100%;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}