@font-face {
    font-family: avenir;
    src: url(/Fonts/nunito/Nunito-Regular.ttf);
}

.navbar{
    background-color: #254558 ;
    padding-left: 20%;
    padding-right: 10px;
}

.navbar-toggler-icon{
    color: aqua;
}

#navElement1{
    gap: 10px;
    font-size: 20px;
}

#navElement2{
    gap: 10px;
}#login{
    color: white;
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #eafc40;
}#login:hover{
    background-color: #eafc40;
    color: black;
}#signup{
    color: white;
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #eafc40;
}#signup:hover{
    background-color: #eafc40;
    color: black;
}