@font-face {
    font-family: avenir;
    src: url(/Fonts/nunito/Nunito-Regular.ttf);
}

*{
    font-family: avenir;
    color: white;
}

.navbar{
    background-color: #254558 ;
    padding-left: 20%;
    padding-right: 10px;
}

.navbar-toggler-icon{
    color: aqua;
}

#navElement1{
    gap: 10px;
}

#navElement2{
    gap: 10px;
}#login{
    color: white;
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #eafc40;
}#login:hover{
    background-color: #eafc40;
    color: black;
}#signup{
    color: white;
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #eafc40;
}#signup:hover{
    background-color: #eafc40;
    color: black;
}

/* Container1 */

.container-fluid{
    height: 500px;
    background: rgb(43,43,58);
    background: linear-gradient(190deg, rgba(43,43,58,1) 21%, rgba(37,69,88,1) 45%, rgba(36,88,109,1) 64%, rgba(34,134,159,1) 94%, rgba(33,149,175,1) 97%, rgba(33,149,175,1) 97%, rgba(20,172,200,1) 99%);
}

#Container1{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "element1 element2";
}

#c1Parent1{
    grid-area: element1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}#miniIcon{
    background-color: #b2c02f;
    width: 110px; color: #ffffff;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
}#schedule{
    width: 200px;
    padding: 10px;

    border-radius: 5px;
    border-style: none;
    background-color: #f4f5f6;
    color: #254558;

    transition: 0.3s;
}#schedule:hover{
    transform: scale(1.1);
}

#c1Parent2{
    grid-area: element2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
    padding-right: 10px;
}.Image{
    border-radius: 10px;
    width: 100%; height: 100%; 
    
    background-image:url(/Images/GuyUsingLaptop.jpg);
    background-position: center;
    background-size: cover;
}



